<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/landing"></ion-back-button>
    </ion-buttons>
    <ion-title> Good luck with exam 😉</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large"> Exam name </ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <div>
      Question and answers
    </div>
    <div>
      Duration, number of questions and next button
    </div>
  </div>
</ion-content>
