<div class="exam-container">
  <div class="exam-list-container">
    <app-exam-list
      (examSelected)="onExamSelect($event)"
      [exams]="exams">
    </app-exam-list>
  </div>
  <div class="exam-content-container">
    <app-exam-form
      (createExam)="onCreateExam($event)"
      (updateExam)="onUpdateExam($event)"
      [exam]="selectedExam">
    </app-exam-form>
    <ng-container *ngIf="selectedExam">
      <ion-item button="true" color="success" (click)="onNewQuestion()">
        <ion-label>Add new question</ion-label>
        <ion-icon name="add-outline" slot="end"></ion-icon>
      </ion-item>
      <app-question-list [questions]="selectedExamQuestions">
      </app-question-list>
    </ng-container>
  </div>
</div>
